<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
   
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")

        <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")">
        <style type="text/css">
          body {
            padding-top: 60px;
            padding-bottom: 40px;
          }
        </style>
    
        <link rel="stylesheet" href="@Url.Content("~/Content/kendoui/web/kendo.common.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/kendoui/web/kendo.rtl.min.css")">
        <link rel="stylesheet" href="@Url.Content("~/Content/kendoui/web/kendo.silver.min.css")">

        @Scripts.Render("~/bundles/jquery")  

        <script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendoui/kendo.web.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendoui/kendo.all.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendoui/kendo.aspnetmvc.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendoui/console.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendoui/prettify.min.js")"></script>
        @{
            var culture = System.Threading.Thread.CurrentThread.CurrentCulture.ToString();
        }

            <script src="@Url.Content("~/Scripts/kendoui/cultures/kendo.culture." + culture + ".min.js")"></script>

            <script>
                kendo.culture("@culture");
            </script>
</head>
 <body>

     <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">ASP MVC Sample</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">@Html.ActionLink("Home", "Index", "Home")</li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>@Html.ActionLink("Categories", "Index", "Categories")</li>
                  <li>@Html.ActionLink("Products","Index", "Products")</li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

         @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
      <hr>

      <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
      </footer>

    </div> <!-- /container -->


        @Scripts.Render("~/bundles/jqueryui")    
        @Scripts.Render("~/bundles/jqueryval")            
        @RenderSection("scripts", required: false)
    </body>
</html>